
html{
    font-family: sans-serif;
}
h1{
    color: cornflowerblue;
    font-size: 36px;
    
    
}
h2{
    font-size: ;
    
}

h5{

}
a{
    color: cornflowerblue;
}
.contact{
    display: flex;

    
}
.cv{
max-width: 900px;
margin: 0 auto;
}

h2, h3,h4,h5,h6{
    font-size: 24px;
    margin-bottom: 5px;
}